<h3>{{Username}}</h3>

<form action="/homepage" method="POST">
  <div class="form-group">
    <p style="font-size:25px" style="font-family:verdana">
      Welcome to Student Housing Buddy!
    </p>
    <p style="font-size:17px" style="font-family:verdana">
      To register, click the button below</p>
    <a class="btn btn-secondary" href="/createuser"><i
        class="fa fa-list-alt"
      ></i>
      Registration</a>
    <p></p>
    <p style="font-size:17px" style="font-family:verdana">To logout: </p>
    <a class="btn btn-secondary" href="/login"><i class="fa fa-list-alt"></i>
      Logout</a>
  </div>
</form>