<h3>Registration Successful!</h3>

<form action="/login" method="POST" autocomplete="off">

  <input
    type="button"
    class="btn btn-secondary"
    value="Go back!"
    onclick="history.back()"
  />

</form>